[Desktop Entry]
Name=Ejecutar Script
Encoding=UTF-8
Comment=Ejecuta el script Bash para el entorno virtual y Python
Exec=/home/lalo/Documentos/consult_module/exec.sh
Icon=utilities-terminal
Terminal=true
Type=Application
